{
    # Pick the Bayes algorithm:
    "algorithm": "grid",
    # Declare what to optimize, and how:
    "spec": {
        "metric": "loss",
        "objective": "minimize",
    },
    # Declare your hyperparameters:
    "parameters": {
        "hid_size": {"type": "integer", "min": 50, "max": 100},
        "n_layers": {"type": "integer", "min": 1, "max": 8},
        "learning_rate": {"type": "float", "min": 9e-3, "max": 1e-1},
        "weight_decay": {"type": "float", "min": 0.0, "max": 0.5},
    },
    "trials": 30,
}