data
.vscode
NY_cartopy
data/
ok_mesonet.csv
.vscode/
/src/cache
*.sqlite
cache
builds
src/__pycache__/
src/cache/aiohttp_cache.sqlite
elevation
kmeans_interp
kmeans-feature-importance
notebooks/cache
notebooks/features.csv
notebooks/nysm_coords.csv
notebooks/ok_coords.csv
notebooks/GUID-92475682-AC35-4C9A-8150-BE7656D56B35-web.png
*.csv
*.png
*.pyc
