.vscode
NY_cartopy
ok_mesonet.csv
.vscode/
/src/cache
*.sqlite
cache
__pycache__
src/__pycache__/
src/cache/aiohttp_cache.sqlite
elevation
kmeans_interp
kmeans-feature-importance
notebooks/cache
data
*.csv
*.parquet
*.sh
*.png
builds
*.zip