{
    # Pick the Bayes algorithm:
    "algorithm": "grid",
    # Declare what to optimize, and how:
    "spec": {
        "metric": "loss",
        "objective": "minimize",
    },
    # Declare your hyperparameters:
    "parameters": {
        "num_layers": {"type": "integer", "min": 3, "max": 10},
        "learning_rate": {"type": "float", "min": 5e-20, "max": 1e-3},
        "weight_decay": {"type": "float", "min": 0, "max": 1},
        "hidden_units": {"type": "integer", "min": 1.0, "max": 5000.0},
    },
    "trials": 30,
}