# You need to specify the algorithm and hyperparameters to use:

{
    # Pick the Bayes algorithm:
    "algorithm": "bayes",

    # Declare your hyperparameters:
    "parameters": {
        "num_layers": {"type": "integer", "min": 1, "max": 25},
        "learning_rate": {"type": "float", "min":5e-20, "max":1e-3},
        "sequence_length": {"type": "integer", "min": 1, "max": 1000},
        "batch_size": {"type": "integer", "min": 1, "max": 1000}, 
        "num_hidden_units": {"type": "integer", "min": 1, "max": 1000}, 
        "forecast_lead": {"type": "integer", "min": 1, "max": 500},
    },

    # Declare what to optimize, and how:
    "spec": {
        "metric": "loss",
        "objective": "minimize",
    },
    "trials": 5
}