# You need to specify the algorithm and hyperparameters to use:
{
    # Pick the Bayes algorithm:
    "algorithm": "grid",
    # Declare what to optimize, and how:
    "spec": {
        "metric": "loss",
        "objective": "minimize",
    },
    # Declare your hyperparameters:
    "parameters": {
        "num_layers": {"type": "integer", "min": 1, "max": 5},
        "learning_rate": {"type": "float", "min": 5e-20, "max": 1e-3},
        "weight_decay": {"type": "float", "min": 5e-20, "max": 1e-3},
        "delta": {"type": "float", "min": 0.0, "max": 5.0}
    },
    "trials": 30
}
